# Remember to list implicit packages here, otherwise version won't be fixated!
eventlet
jsonschema
kombu
mongoengine
pymongo
oslo.config
oslo.utils
pyparsing
pymongo
six
gunicorn
dnspython>=2.6.0rc1 # not directly required, pinned by Snyk to avoid a vulnerability
